/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato-italic.woff2") format("woff2"), url("../fonts/lato-italic.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-light.woff2") format("woff2"), url("../fonts/lato-light.woff") format("woff");
}
.page {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: #222222;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__wrp-controls-right {
  position: relative;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__link {
  margin: 0 0 0 31px;
}

.header__menu-button {
  border: none;
  background-color: transparent;
}

.controls {
  fill: #fff;
}

.controls:hover {
  fill: #F16D7F;
}

.header__nav {
  position: absolute;
  background-color: #fff;
  padding-left: 34px;
  right: -232px;
  top: 75px;
  display: none;
  z-index: 2;
}
.header__nav--show {
  display: block;
}

.header__nav-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 37px;
  padding-bottom: 24px;
}

@media (max-width: 767px) {
  .header .header__link {
    display: none;
  }
}
.brand {
  display: flex;
  margin-bottom: 65px;
}

.brand__wrp {
  min-height: 363px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F1E4E6;
  flex-grow: 1;
}
@media (max-width: 1599px) {
  .brand__wrp {
    padding: 0 0 0 68px;
    box-sizing: border-box;
  }
}

.brand__wrp-text {
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
  box-sizing: border-box;
}

.brand__img {
  width: 50%;
}
@media (max-width: 1599px) {
  .brand__img {
    height: auto;
  }
}
@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 1599px) {
  .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand__title {
    font-size: 35px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand__sub-title {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 1599px) {
  .brand__sub-title {
    font-size: 29px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand__sub-title {
    font-size: 33px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand__sub-title-pink {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}
@media (max-width: 1599px) {
  .brand__sub-title-pink {
    font-size: 29px;
    line-height: 40px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand__sub-title-pink {
    font-size: 33px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.products__title {
  margin-top: 66px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

.products__text {
  text-align: center;
  font-weight: 400;
  color: #9F9F9F;
  padding-bottom: 48px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1140px;
  margin: 0 auto;
}

.products__item {
  max-width: 360px;
}

.products__wrapper {
  position: relative;
}

.products__overlay {
  position: absolute;
  width: 100%;
  min-height: 420px;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}

.products__add-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 138px;
  min-height: 43px;
  font-weight: 400;
  text-align: center;
  padding: 0 0 0 35px;
  color: white;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 10px 6px;
}

.products__overlay,
.products__add-button {
  display: none;
}

.products__item:hover .products__add-button,
.products__item:hover .products__overlay,
.products__item:hover {
  display: block;
}

.products__img {
  width: 100%;
  object-fit: contain;
}

.products__img:hover {
  outline: 2px solid #F16D7F;
}

.products__caption {
  padding: 25px 0 12px 1%;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
}

.products__desc {
  text-align: left;
  padding: 0 0 18px 1%;
}

.products__price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-left: 1%;
}

.products__button-container {
  display: flex;
  justify-content: center;
}

.products__button {
  margin: 48px 0 95px;
  min-width: 211px;
  padding: 14px 38px 13px;
  border: 1px solid #FF6A6A;
  color: #F26376;
  background-color: white;
}
.products__button:hover {
  background-color: #F16D7F;
  color: white;
  animation: heartbeat 2s infinite;
}

.sales__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.sales__item {
  flex-basis: 360px;
  height: 260px;
}

.sales__item-women,
.sales__item-men,
.sales__item-kids,
.sales__item-accesories {
  text-decoration: none;
}

.sales__item:first-child {
  background-image: url(../img/dark.png), url(../img/for_women.png);
  background-size: cover;
}

.sales__item:nth-child(2) {
  background-image: url(../img/dark.png), url(../img/for_men.png);
  background-size: cover;
}

.sales__item:nth-child(3) {
  background-image: url(../img/dark.png), url(../img/for-kids.png);
  background-size: cover;
}

.sales__item:last-child {
  flex-basis: 1140px;
  height: 180px;
  background-image: url(../img/dark.png), url(../img/accesories.png);
  background-size: cover;
}

.sales__item-proposal {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: white;
  padding-top: 105px;
}

#sales__item-lux {
  padding-top: 65px;
}

.sales__item-for {
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
  color: #F16D7F;
}

.icons__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  background-color: #222222;
}
.icons__list .icons__items {
  padding-right: 30px;
}
.icons__list .icons__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #FBFBFB;
  padding-bottom: 16px;
}
.icons__list .icons__text {
  max-width: 360px;
  text-align: center;
  color: #FBFBFB;
  padding-bottom: 104px;
}
@media (max-width: 1599px) {
  .icons__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icons__list .icons__text {
    padding-bottom: 46px;
  }
  .icons__list .icons__img {
    padding-top: 0;
  }
  .icons__list .icons__img:first-child {
    padding-top: 40px;
  }
}

.icons__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 103px;
}
.icons__img-truck-img {
  padding-bottom: 28px;
}
.icons__img-sale-img {
  padding-bottom: 19px;
}
.icons__img-crown-img {
  padding-bottom: 25px;
}

.icons__img-truck-img:hover,
.icons__img-sale-img:hover,
.icons__img-crown-img:hover {
  animation: blink-2 0.9s both;
}

.footer {
  background-image: url(../img/footer-background.png);
  background-size: cover;
}

.footer__list {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap;
}
.footer__list .footer__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 86px;
}
@media (max-width: 1599px) {
  .footer__list {
    flex-direction: column;
    align-items: center;
  }
}

.footer__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  width: 85%;
  min-height: 99px;
  margin: 20px auto 126px auto;
}
@media (max-width: 1599px) {
  .footer__text {
    margin-bottom: 0;
  }
}

.footer__text-subtext {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
}

.footer__title {
  margin-top: 150px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .footer__title {
    margin-top: 59px;
  }
}

.footer__subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: -7px;
  color: #222224;
  margin-bottom: 32px;
}

.footer__field {
  background-color: #E1E1E1;
  min-height: 49px;
  width: 256px;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
  padding-left: 22px;
  border: none;
  font-family: inherit;
}
@media (max-width: 1599px) {
  .footer__field {
    margin-bottom: 109px;
  }
}
@media (max-width: 767px) {
  .footer__field {
    margin-left: 10px;
    width: 170px;
  }
}

.footer__btn {
  background-color: #F16D7F;
  color: #FFFFFF;
  border: none;
  box-sizing: border-box;
  min-height: 49px;
  border-radius: 0 20px 20px 0;
  font-weight: 400;
  text-align: center;
  padding: 7px 7px 6px 8px;
  margin-left: -3px;
  width: 100px;
}

.contacts {
  background-color: #222224;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__rights {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .contacts__rights {
    order: 2;
  }
}

.contacts__list {
  display: flex;
  order: 1;
}
@media (max-width: 767px) {
  .contacts__list {
    padding-top: 43px;
    box-sizing: border-box;
  }
}

.contacts__item {
  min-width: 32px;
  min-height: 32px;
  margin: 24px 7px 23px 0;
  background-color: white;
}

.contacts__img {
  position: absolute;
}

.contacts__link {
  fill: black;
}
.contacts__link-facebook {
  padding: 8px 12px 11px 11px;
  box-sizing: content-box;
}
.contacts__link-insta {
  padding: 9px 8px 8px 8px;
  box-sizing: content-box;
}
.contacts__link-pinterest {
  padding: 8px 8px 9px 10px;
  box-sizing: content-box;
}
.contacts__link-twitter {
  padding: 9px 9px 9px 7px;
  box-sizing: content-box;
}

.contacts__item:first-child:hover {
  background-color: #F16D7F;
}
.contacts__item:first-child:hover .contacts__link-facebook {
  fill: white;
}

.contacts__item:nth-child(2):hover {
  background-color: #F16D7F;
}
.contacts__item:nth-child(2):hover .contacts__link-insta {
  fill: white;
}

.contacts__item:nth-child(3):hover {
  background-color: #F16D7F;
}
.contacts__item:nth-child(3):hover .contacts__link-pinterest {
  fill: white;
}

.contacts__item:nth-child(4):hover {
  background-color: #F16D7F;
}
.contacts__item:nth-child(4):hover .contacts__link-twitter {
  fill: white;
}

.menu-item__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

.menu-item__sub-list {
  margin-bottom: 40px;
  margin-right: 43px;
}

.menu-item__sub-item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  margin-left: 20px;
}

.page-name {
  background-color: #F1E4E6;
}

.page-name__background-color {
  padding: 59px 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .page-name__background-color {
    justify-content: center;
  }
}

.page-name__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}
@media (max-width: 767px) {
  .page-name__title {
    text-align: center;
    margin-bottom: 32px;
  }
}

.page-name__subtitle {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.page-name__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.box__form {
  box-sizing: border-box;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
@media (max-width: 767px) {
  .box {
    flex-direction: column;
    align-items: center;
  }
}
.box__form-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-bottom: 20px;
}
.box__form-visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  min-height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.box__form-field {
  min-height: 45px;
  width: 100%;
  margin-bottom: 21px;
  padding-left: 16px;
  box-sizing: border-box;
  border: 1px solid #A4A4A4;
  font-family: inherit;
}

.set {
  width: 100%;
}

[type=text]:hover,
[type=email]:hover,
[type=password]:hover,
[type=radio]:hover,
[type=text]:focus,
[type=email]:focus,
[type=password]:focus,
[type=radio]:focus {
  outline: 1px solid #F16D7F;
  background: white;
  cursor: pointer;
}

.box__form-radio:not(:last-child) {
  margin-right: 20px;
}

input[type=radio] {
  margin-right: 10px;
  margin-bottom: 35px;
}

.box__form-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #B1B1B1;
  margin-bottom: 39px;
  width: 359px;
}

.box__form-button {
  min-height: 50px;
  width: 167px;
  border: none;
  background-color: #F16D7F;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 96px;
}

.box__form-button:hover,
.box__form-button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.box__form-button:active {
  opacity: 0.7;
}

.box__content {
  width: 652px;
}
@media (max-width: 1599px) {
  .box__content {
    padding-left: 22px;
    padding-bottom: 100px;
  }
}
.box__content-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.box__content-subtitle {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 21px;
}
.box__content-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}

.box__content-block {
  display: flex;
  align-items: baseline;
}

.box__content-img {
  display: block;
  margin-right: 23px;
}

.box__button-arrow {
  padding-left: 20px;
}

.main-carousel {
  background-color: #F7F7F7;
  min-height: 777px;
}
@media (max-width: 767px) {
  .main-carousel {
    min-height: 497px;
  }
}

.carousel-control-next:hover,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-prev:focus {
  color: #2A2A2A;
  text-decoration: none;
  outline: 0;
  opacity: 0.5;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #2A2A2A;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: #F16D7F;
}

@media (max-width: 767px) {
  .carousel-mobile {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

.ml-30 {
  margin-left: 30%;
}

.main-box {
  border: 1px solid #EAEAEA;
  margin-top: -47px;
  padding-top: 30px;
  z-index: 2;
  background-color: white;
}

.main-box__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  text-align: center;
  text-transform: uppercase;
}

.main-box__pink-line {
  margin: 12px auto 0;
  display: block;
}

.main-box__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
}

.main-box__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  width: 70%;
  text-align: center;
  margin: 48px auto 0;
}

.main-box__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin-top: 32px;
  color: #F16D7F;
  text-transform: uppercase;
  text-align: center;
}

.main-box__line {
  display: block;
  margin: 65px auto 0;
  width: 55%;
}

.main-box__list {
  width: 67%;
  margin: 65px auto 49px auto;
}

.main-box__button {
  display: flex;
  justify-content: center;
}

.main-box__add-button {
  width: 138px;
  min-height: 43px;
  padding: 0 0 0 35px;
  margin: 0 0 65px 0;
  color: #F16D7F;
  background-color: white;
  border: 1px solid #F16D7F;
  background-image: url(../img/pink_cart.svg);
  background-repeat: no-repeat;
  background-position: 10px 6px;
}

.main-box__add-button:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

img,
svg {
  vertical-align: baseline;
}

.card-gallery {
  margin-top: 129px;
  margin-bottom: 128px;
}

.card-gallery_card-color {
  background-color: #F8F8F8;
}

.card-gallery__col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
@media (max-width: 1599px) {
  .card-gallery__col-4 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .card-gallery__col-4 {
    width: auto;
  }
}

@media (max-width: 1599px) {
  #card-gallery__last {
    display: none;
  }
}

.centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.centered__mark {
  margin: -1% 0 1% 2%;
}/*# sourceMappingURL=style.css.map */