/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: #222222;
}
.header .header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
  position: relative;
}
.header .header__logo {
  margin: 0 41px 0 0;
}
.header .header__link {
  margin: 0 0 0 31px;
}
.header .header__menu-button {
  border: none;
  background-color: transparent;
}
.header .controls {
  fill: #fff;
}
.header .controls:hover {
  fill: #F16D7F;
}
.header .header__nav {
  position: absolute;
  background-color: #fff;
  padding-left: 34px;
  right: 0;
  bottom: -505px;
  display: none;
  z-index: 2;
}
.header .header__nav--show {
  display: block;
}

.header__nav-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 37px;
  padding-bottom: 24px;
}

.brand {
  display: flex;
  margin-bottom: 65px;
}
.brand__wrp {
  background-color: #F1E4E6;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}
.brand__title::before {
  height: 92px;
  width: 12px;
  background-color: #F16D7F;
  content: " ";
  position: absolute;
  left: -32px;
}
.brand__sub-title {
  display: flex;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}
.brand__sub-title-pink {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  margin-left: 7px;
}

.products {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.products .products__title {
  margin-top: 66px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

.product__text {
  text-align: center;
  font-weight: 400;
  color: #9F9F9F;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__wrapper {
  position: relative;
}

.product__overlay {
  width: 100%;
  min-height: 420px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}

.product__add-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 138px;
  height: 43px;
  font-weight: 400;
  text-align: center;
  padding: 0 0 0 35px;
  color: white;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 10px 6px;
}

.product__overlay,
.product__add-button {
  display: none;
}

.products__item:hover .product__add-button,
.products__item:hover .product__overlay,
.products__item:hover {
  display: block;
}

.products__item {
  padding: 30px;
  box-sizing: border-box;
}

.products__caption {
  padding: 25px 0 12px 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
}

.products__desc {
  width: 300px;
  text-align: left;
  padding-bottom: 18px;
}

.products__price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.product__button {
  margin: 48px 0 95px;
  width: 211px;
  padding: 14px 38px 13px;
  border: 1px solid #FF6A6A;
  color: #F26376;
  background-color: white;
}
.product__button:hover {
  background-color: #F16D7F;
  color: white;
}

.sales__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sales__img {
  padding: 30px;
}

.img-accesories {
  align-self: flex-end;
}

.icons__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #222222;
}
.icons__list .icons__items {
  padding-right: 30px;
}
.icons__list .icons__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 103px;
}
.icons__list .icons__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #FBFBFB;
  padding-bottom: 16px;
}
.icons__list .icons__text {
  max-width: 360px;
  text-align: center;
  color: #FBFBFB;
  padding-bottom: 104px;
}

.truck-img {
  padding-bottom: 28px;
}

.sale-img {
  padding-bottom: 19px;
}

.crown-img {
  padding-bottom: 25px;
}

.footer {
  background-image: url(../img/footer-background.png);
  background-size: cover;
}

.footer__list {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.footer__list .footer__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 86px;
}

.footer__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  width: 359px;
  height: 99px;
  margin-top: 20px;
  margin-bottom: 126px;
}

.footer__title {
  margin-top: 150px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.footer__subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: -7px;
  color: #222224;
  margin-bottom: 32px;
}

.footer__field {
  background-color: #E1E1E1;
  height: 49px;
  width: 256px;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
  padding-left: 22px;
  border: none;
}

.footer__btn {
  background-color: #F16D7F;
  color: #FFFFFF;
  border: none;
  box-sizing: border-box;
  height: 49px;
  border-radius: 0 20px 20px 0;
  font-weight: 400;
  text-align: center;
  padding: 7px 7px 6px 8px;
  margin-left: -3px;
  width: 100px;
}

.contacts {
  background-color: #222224;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.contacts__rights {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contacts__list {
  display: flex;
}

.contacts__block {
  height: 32px;
  width: 31px;
  border: none;
  background-color: white;
  position: relative;
  margin: 24px 7px 23px 0;
}

.contacts__img {
  position: absolute;
}

.facebook {
  padding: 8px 12px 11px 11px;
  fill: black;
}

.insta {
  padding: 9px 8px 8px 8px;
  fill: black;
}

.pinterest {
  padding: 8px 8px 9px 10px;
  fill: black;
}

.twitter {
  padding: 9px 9px 9px 7px;
  fill: black;
}

.socials:hover {
  fill: white;
  background-color: #F16D7F;
}

.menu-item__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

.menu-item__sub-list {
  margin-bottom: 40px;
  margin-right: 43px;
}

.menu-item__sub-item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  margin-left: 20px;
}/*# sourceMappingURL=style.css.map */