.brand {
	display: flex;
	margin-bottom: 65px;

	&__wrp {
		background-color: $light-pink;
		flex-grow: 1;
		padding: 0 0 0 92px;
		@include flex-center;
	}

	&__title {
		@include font(48px, 58px, 900);
		text-transform: uppercase;
		position: relative;

		&::before {
			height: 92px;
			width: 12px;
			background-color: $dark-pink;
			content: " ";
			position: absolute;
			left: -32px;
		}
	}

	&__sub-title {
		display: flex;
		@include font(32px, 38px, 700);
	}

	&__sub-title-pink {
		@include font(32px, 38px, 700);
		color: #F16D7F;
		margin-left: 7px;
	}
}