.main-carousel {
	background-color: #F7F7F7;
	min-height: 777px;

	@include mobile {
		min-height: 497px;
	}
}

.carousel-control-next:hover,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-prev:focus {
	color: #2A2A2A;
	text-decoration: none;
	outline: 0;
	opacity: 0.5;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	background-color: #2A2A2A;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
	background-color: $dark-pink;
}

.carousel-mobile {
	@include mobile {
		width: 100% !important;
		margin-left: 0 !important;
	}
}