.contacts {
	background-color: #222224;
	display: flex;
	justify-content: space-around;
	flex-grow: 1;

	@include mobile {
		flex-direction: column;
		align-items: center;
	}
}

.contacts__rights {
	color: #FBFBFB;
	@include font(16px, 19px);
	padding-top: 30px;
	padding-bottom: 30px;

	@include mobile {
		order: 2;
	}
}

.contacts__list {
	display: flex;
	order: 1;

	@include mobile {
		padding-top: 43px;
		box-sizing: border-box;
	}
}

.contacts__item {
	min-width: 32px;
	min-height: 32px;
	margin: 24px 7px 23px 0;
	background-color: white;
}

.contacts__img {
	position: absolute;
}

.contacts__link {
	fill: black;

	&-facebook {
		padding: 8px 12px 11px 11px;
		box-sizing: content-box;
	}

	&-insta {
		padding: 9px 8px 8px 8px;
		box-sizing: content-box;
	}

	&-pinterest {
		padding: 8px 8px 9px 10px;
		box-sizing: content-box;
	}

	&-twitter {
		padding: 9px 9px 9px 7px;
		box-sizing: content-box;
	}

}

.contacts__item:first-child:hover {
	background-color: $dark-pink;

	.contacts__link-facebook {
		fill: white;
	}
}

.contacts__item:nth-child(2):hover {
	background-color: $dark-pink;

	.contacts__link-insta {
		fill: white;
	}
}

.contacts__item:nth-child(3):hover {
	background-color: $dark-pink;

	.contacts__link-pinterest {
		fill: white;
	}
}

.contacts__item:nth-child(4):hover {
	background-color: $dark-pink;

	.contacts__link-twitter {
		fill: white;
	}
}