.page-name {
	background-color: $light-pink;
}

.page-name__background-color {
	padding: 59px 0 60px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include mobile {
		justify-content: center;
	}
}

.page-name__title {
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;
	color: $dark-pink;

	@include mobile {
		text-align: center;
		margin-bottom: 32px;
	}
}

.page-name__subtitle {
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	color: #636363;
	text-transform: uppercase;
}

.page-name__text {
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: $dark-pink;
	text-transform: uppercase;
}